
    <div class="section-heading">
        <h6>Info</h6>
    </div>

    <!-- Popular News Widget -->
    <div class="popular-news-widget mb-30">
        <h3>4 Most Popular News</h3>

        
    <% data.popularnews.forEach(item => { %>
    
        <!-- Single Popular Blog -->
        <div class="single-popular-post">
            <a href="#">
                <h6><span> <%= item.rank  %> </span> <%= item.title  %> </h6>
            </a>
            <p> <%= dateAndTime.format(item.datetime, 'h:mm A | MMMM DD') %> </p>
        </div>

        <% }); %>

        

    </div>
