<% if(typeof latestcommentswidget != 'undefined') { %>
    <% latestcommentswidget.forEach(comment => { %>
            <!-- Single Comments -->
            <div class="single-comments d-flex">
                <div class="comments-thumbnail mr-15">
                    <img src="/img/bg-img/29.jpg" alt="">
                </div>
                <div class="comments-text">
                    <a href="#"> <%= comment.userName %> <span>on</span> <%= comment.newsTitle %> </a>
                    <p> <%= dateAndTime.format(comment.commentPostDate, 'h:mm A | MMMM DD') %> </p>
                </div>
            </div>
    <% })  %>
<% } %> 
