<% if(typeof mostpopular != 'undefined') { %>
    <!--  -->
    <% mostpopular.forEach((newspost, index) => { %>
    <!-- Single Popular Blog -->
    <div class="single-popular-post">
        <a href="/single-post/<%= newspost.newsID%>">
            <h6><span><%= index+1 %></span> <%- newspost.newsTitle %></h6>
        </a>
        <p> <%= dateAndTime.format(newspost.newsPostDate, 'dddd, D MMMM, YY') %></p>
    </div>

    <% })  %>
<% } %> 

   